<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CS_ADO_NET.Properties.Settings.CNstr" connectionString="Integrated Security=SSPI;Persist Security Info=False;User ID=&quot;&quot;;Initial Catalog=Medewerkers;Data Source=localhost\SQLEXPRESS;" />
    </connectionStrings>
</configuration>